* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}
#logo {
    border: 1px solid #333;
    padding: 0.3em 2em;
    width: 150px;
    text-align: center;
}
.icons {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.head-icon {
    color: rgb(243, 90, 90);
}
.head-icon:first-child {
    font-size: 3rem;
}
.head-icon:nth-child(2) {
    font-size: 1.5rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .head-icon:first-child {
        font-size: 45px !important;
    }
}
